#testimonials {
  min-height: 100vh;
  justify-content: center;
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding-block: 4rem;
  gap: 2rem;
}

#testimonials header {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 1.5rem;
  padding-inline: 2rem;
  align-items: center;
}

#testimonials header :first-child {
  color: var(--primary-color);
  font-weight: var(--fw-bold);
}

#testimonials header h2{
  color: var(--text-color);
}

#testimonials p {
  color: var(--second-text-color);
}

.carousel {
  display: flex;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
}

.carousel:hover .carousel-content {
    animation-play-state: paused;
    cursor: pointer;
}

.carousel-content {
  display: flex;
  gap: 1.5rem;
  padding-right: 1.5rem;
  width: max-content;
  animation: swipe 25000ms linear infinite;
  
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }

}


@media (width >= 580px) {
  #testimonials {
    gap: 5rem;
    align-items: center;
  }

  header p {
    width: 60%;
  }

  .carousel {
    width: 80%;
  }

  .testimony {
    width: 80%;
  }

  .testimonials-card {
    min-width: 28rem;
    min-height: 24rem;
  }
}